@media only screen and (min-width: 1400px) and (max-width: 1527px) {
    #servicos {
        gap: 7%;

    }
    .box{
        width: 100%;
        margin-left: 30vw;
    }
    .valorPlanos{
        margin-top: 0;
    }
    .bronze {
        height: 450px;
    }
    .prata {
        height: 550px;
    }
    
    .ouro {
        height: 650px;
        margin-top: -50px;
    }
    #contato{
        height: 130vh;
    }
    .titCont {
        font-size: 40px;
        padding-left: 15vw;
    }
    .titleTrabalhe{
        margin-top: 15vh;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1399px) {
    .titleTrabalhe{
        margin-top: 0vh;
    }
}
@media only screen and (min-width: 800px) and (max-width: 999px) {
    #inicio{
        height: 80vh;
    }
    #inicio img {
    width: 50%;
    }
    .serv {
        width: 70vw;
        top: 95vh;
    }
    .bronze {
        height: 280px;
    }
    
    .bronze:hover,
    .prata:hover,
    .ouro:hover {
        transform: scale(0);
        border-radius: 0;
        transition: 0;
    }
    
    .prata {
        height: 380px;
    }
    
    .ouro {
        height: 480px;
        margin-top: -50px;
    }
    #planos {
        padding-top: 0vh;
        height: 90vh;
        gap: 30px;
    }
    .msgTeste{
        width: 40%; 
     }
    #contato {
        padding-top: 0vh;
        height: 120vh;
    }
    .titCont{
        padding-left: 140px;
    }
    .LocInf {
        padding-left: 5vw;
        gap: 50px;
    }
    .maps iframe {
        width: 450px;
        height: 300px;
    }
    .dom img {
        width: 100%;
    }
    .vetorAzul{
        top: 255vh;
        height: 50vh;
    }
    .titleTrabalhe {
        margin-top: 0vh;
    }
}
@media only screen and (max-width: 799px) {
    .menu-global {
        height: auto;
        width: 100vw;
        position: fixed;
        top: auto;
        bottom: 0;
        border-radius: 50px;
        width: 100vw;
        border-radius: 50px 50px 0 0;
    }
    .menu {
        width: 100vw;
        height: auto;
        margin-top: 0;
        flex-direction: column;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
    }
    .menu-toggle {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        flex-direction: row;
        width: 100%;
        height: 0px;
        padding: 5px 15px 0 15px;
        margin-top: -35px;
    }
    .menubuttons{
        display: flex;
        gap: 20px;
    }
    .menu-toggle .menu-title {
        display: flex;
        flex-direction: row;
        margin-top: -10px; 
    }
    .menu-toggle .logoMobile img{
        width: 80px;
        margin-top: -30px;
        position: absolute;
        background-color: #0F132D;
        border-radius: 45%;
        right: 42%;
        padding: 4px;
    }
    .menu-toggle button{
        width: 80px;
        padding-left: 8px;
        margin-top: 0;
    }
    .menu-toggle .menu-title .arrow {
        transform: rotate(180deg);
        transition: .2s ease-in;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
        gap: 10px;
        
    }
    .menu-links li{
        width: 100%;
    }
    .menu-links button{
        display: none;
    }
    .menu-links.show {
        display: flex;
    }
    .menu-links a img{
        display: none;
    }
    .parceirosButton button {
        width: 100vw;
        border-radius: 0 0 20px 20px;
        top: 0;
        right: 0;
    }
    #inicio {
        height: 60vh;
        margin-top: 15vh;
    }
    .slogan {
        width: 250px;
        font-size: 15px;
    }

    #inicio img {
        width: 90%;
    }

    .cont-inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    .frase p {
        padding: 20px;
        border-radius: 20px;
        font-size: 17px;
        width: 430px;
        left: 0;
    }
    .frase button {
        padding: 7px;
        width: 120px;
        margin-left: 40vw;
        font-size: 13px;
        margin-top: -10px;
    }
    .saberMais {
        font-size: 10px;
    }

    .seta img {
        display: none;
    }

    .frase {
        width: 20%;
        margin-left: -50%;
    }
    .nossosServ{
        margin-left: 0;
        width: 70vw;
    }
    #servicos {
        background-image: none;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-top: 50vh;
        padding-left: 0;
    }
    .conServ {
        font-size: 50px;
    }
    .serv {
        flex-direction: column;
        width: 60vw;
        top: 100vh;
        z-index: 900;
    }
    .serv section {
        font-size: 13px;
        padding: 15px;
    }
    .serv img {
        width: 60px;
        height: 60px;
    }
    .descricaoServicos {
        align-items: center;
        width: 85%;
        margin-right: 0%;
    }
    .box {
        font-size: 10px;
        width: 90%;
        margin-left: 0;
    }
    .box .box-item {
        width: 80px;
        height: 80px;
    }
    #lojaOnline {
        padding-left: 80px;
    }
    .box-item img {
        height: 70px;
    }
    .box .selected {
        width: 70%;
        height: 170px;
        padding: 0px;
        position: absolute;
        flex-direction: column;
    }
    #myModal {
        display: none;
        position: fixed;
        z-index: 999;
        padding-top: 15%;
        padding-left: 30%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
      } 
    
      /* Estilos do conteúdo do modal */
    #myModal .modal-content {
        background-color: #fefefe;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
        border: none;
        width: 60%;
        height: 20vh;
        max-width: 600px;
        border-radius: 20px;
      }
      
      /* Estilos do fechar do modal*/
    #myModal .close {
        position: absolute;
        top: 27%;
        right: 8%;
        color: #ffffff;
        background-color: #FBCB1F;
        float: right;
        font-size: 20px;
        font-weight: bold;
        padding: 0px 5px;
        border-radius: 50%;
      }
      
      #myModal .close:hover,
      #myModal .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      } 
    
    .box .selected p {
            visibility: visible;
    }
    .vetorAm {
            display: none;
    }
    #planos {
        height: 270vh;
        flex-direction: column;
        width: 100%;
        padding-top: 0vh;
        gap: 0;
    }

    .valorPlanos {
        flex-direction: column;
        margin-top: 0vh;
    }

    .bronze {
        width: 40vw;
        height: auto;
    }

    .bronze:hover,
    .prata:hover,
    .ouro:hover {
        transform: scale(1);
        transition: 0s;
    }

    .prata {
        padding-left: 0%;
        width: 45vw;
        height: auto;
    }

    .ouro {
        width: 70vw;
        height: auto;
        margin-top: -5%;
        padding-left: 12%;
    }

    .tituloPl {
        padding-left: 0;
    }

    .plOpac {
        font-size: 70px;
        opacity: 15%;
    }

    .pltit {
        font-size: 30px;
    }

    .divisoria {
        width: 200px;
        height: 10px;
        margin-top: 10px;
    }
    .vetorAzul {
        display: none;
    }
    #contato {
        height: 83vh;
        padding-top: 0;
        align-items: center;
    }

    .conteudoCont {
        display: flex;
        flex-direction: row;
        gap: 7vh;
    }

    .titCont {
        font-size: 30px;
        padding-left: 20vw;
    }

    .LocInf {
        flex-direction: row;
        gap: 20px;
        padding-left: 10px;
    }

    .formEmail {
        padding-left: 0px;
    }

    .maps iframe {
        width: 300px;
        height: 210px;
    }

    .conteudoCont {
        flex-direction: column;
        margin-top: 0vh;
    }

    .inf {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 30px;
        padding-left: 0vw;
    }

    .inf h2 {
        font-size: 12px;
    }

    .inf p {
        font-size: 10px;
    }

    .tel,
    .end,
    .email {
        flex-direction: column;
        gap: 20px;
    }

    .formEmail img {
        display: none;
    }
     .contForm img{
        display: flex;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        background-color: #FBCB1F;
        width: 90%;
        padding: 20px;
        gap: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .formulario h1 {
        font-size: 17px;
    }

    .contForm {
        gap: 10px;
    }

    .contForm input {
        height: 4vh;
        font-size: 10px;
    }

    .message {
        height: 90px;
    }

    .contForm button img {
        width: 110%;
    }

    #trabalheConosco {
        width: 100%;
        height: 110vh;
    }

    .titleTrabalhe {
        background-color: #E3AF11;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 15vh;
        padding-top: 10px;
        width: 100%;
        margin-top: 33vh;
    }

    .tittleAzul {
        width: 90%;
        height: 15vh;
        margin-top: -2vh;
        clip-path: polygon(33.3% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .tittleSub h1 {
        font-size: 35px;
    }

    .tittleSub h2 {
        font-size: 15px;
    }
    .formularioTrabalhe{
        width: 100%;
    }
    .formTrabalhe {
        width: 90%;
        height: 75vh;
        padding: 20px;
        gap: 20px;
        margin-right: 0;
    }
    .formTrabalhe form{
        padding: 0% !important;
        margin: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
    }
    .contTittleTrab h1 {
        font-size: 18px;
    }

    .contTittleTrab p {
        font-size: 9px;
    }

    .formularioTrabalhe label {
        font-size: 10px;
    }

    .formularioTrabalhe input {
        border: none;
        width: 65vw;
        padding: 5px;
        font-size: 9px;
    }

    .telCargo input {
        width: 15vw;
    }
    .linkedln {
        margin-left: -16px;
    }

    .textTrabalhe {
        width: 65vw;
        height: 8vh;
    }

    .textareaTrabalhe {
        gap: 6px;
        margin-left: -30px;
    }

    .pdf {
        visibility: hidden;
    }

    .pdf img {
        width: 10px;
    }

    .botaoAnexo {
        width: 100%;
        display: flex;
        padding-left: 10%;
    }

    .botaoAnexo label {
        padding: 0vh 0vw 0vh 0vw;
        font-size: 10px;
        width: 180px;
    }
    .enviarCurriculo{
        display: flex;
        margin-left: 68.5%;
        width: 200px;
    }
    .enviarCurriculo button {
        width: 60vw;
        font-size: 10px;
        padding: 5px;
        gap: 5px;
        margin-right: 0;
        left: 0;
        margin-left: 0;
        margin-top: 30px;
    }

    .enviarCurriculo button img {
        width: 20px;
    }

    footer {
        padding: 6vh 0vh 10vh 8vw;
        gap: 30px;
        flex-direction: column;
        width: 100% !important;
    }

    .contFooter {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 20px;
    }

    footer h1 {
        font-size: 15px;
    }

    footer p {
        font-size: 15px;
    }

    footer div {
        display: flex;
        flex-direction: column;
    }

    .atenCont,
    .endRedes {
        flex-direction: column;
        gap: 20px;
        width: 60vw;
    }

    .endRedes {
        gap: 3vh;
        margin-top: 0px;
        width: 50vw;
    }

    .InfContato {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .imagensRedes img {
        width: 20px;
    }

    .contDmApp {
        display: flex;
        flex-direction: column;
        gap: 10vh;
        width: 50vw;
        margin-top: 0px;
    }

    .dom {
        gap: 10px;
        position: absolute;
        top: 600vh;
        right: 40px;
    }

    .dom h1 {
        font-size: 15px;
        color: #EFC11C;
    }

    .dom h2 {
        font-size: 12px;
        font-weight: 600;
    }

    .dom img {
        width: 170px;
    }

    .imgApp {
        display: flex;
        flex-direction: row;
    }

    .imgApp img {
        width: 100px;
    }

    .appStore {
        height: auto;
        margin-top: 7px;
    }

    .Nossosapps hr {
        width: 160px;
    }

    .direitosAutorais {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 12px;
    }

    .direitosAutorais a {
        color: #ffffff;
        padding-right: 80px;
    }
}
@media only screen and (max-width: 610px) {
    #planos {
        height: 220vh;
    }
    .enviarCurriculo button {
        margin-right: 0vw;
    }
    .dom {
        top: 550vh;
    }
}
@media only screen and (max-width: 500px) {
    .frase p {
        padding: 10px;
        font-size: 15px;
        width: 300px;
    }
    .frase button {
        padding: 7px;
        width: 120px;
        margin-left: 50vw;
        font-size: 13px;
        margin-top: -10px;
    }
    .frase {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    .serv {
        width: 80vw;
        top: 85vh;
    }
    .nossosServ{
        margin-left: 0;
        width: 80vw;
    }
    #servicos {
        height: 110vh;
        padding-left: 0;
    }
    .box {
        font-size: 10px;
        width: 100%;
        margin-left: 0;
    }
    #planos {
        height: 180vh;
    }
    .plOpac {
        font-size: 50px;
        opacity: 15%;
    }
    .pltit {
        font-size: 20px;
    }
    .msgTeste{
        width: 80%;
    }
    #contato {
        height: 130vh;

    }
    .titCont {
        font-size: 25px;
        padding-left: 40vw;
    }

    .LocInf {
        flex-direction: column-reverse;
        gap: 20px;
        padding-left: 15vw;
    }
    .inf{
        padding-left: 20vw;
    }

    .maps iframe {
        width: 300px;
        height: 150px;
    }

    .titleTrabalhe {
        margin-top: 20vh;
    }

    .tittleSub h1 {
        font-size: 20px;
    }

    .tittleSub h2 {
        font-size: 10px;
    }
    .formularioTrabalhe{
        width: 100%;
    }
    .formTrabalhe {
        width: 95%;
    }
    .telCargo input {
        width: 21vw;
    }
    .botaoAnexo label {
        width: 170vw;
    }
    .enviarCurriculo{
        margin-left: 32%;
    }
    .dom {
        top: 560vh;
    }
    .dom h1 {
        font-size: 10px;
    }

    .dom h2 {
        font-size: 8px;
    }

    .dom img {
        width: 110px;
    }
}
@media only screen and (max-width: 400px) {
    .dom{
        top: 558vh;
    }
}
/* 
    Modal 
    Modal Style 

#myModal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 15%;
    padding-left: 30%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  } */

  /* Estilos do conteúdo do modal 
  #myModal .modal-content {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    border: none;
    width: 60%;
    height: 20vh;
    max-width: 600px;
    border-radius: 20px;
  }
  
  /* Estilos do fechar do modal
  /* #myModal .close {
    position: absolute;
    top: 27%;
    right: 8%;
    color: #ffffff;
    background-color: #FBCB1F;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 50%;
  }
  
  #myModal .close:hover,
  #myModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */
/* CSS DO SEJA REPRESENTANTE */
.inic {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.voltSelo {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.voltSelo button {
    background-color: #121837;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    gap: 1px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.voltSelo button img {
    width: 40px;
}
.voltSelo a {
    text-decoration: none;
}
.contDecRep {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 10vw;
}
.descRepresentante {
    color: #ffffff;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.titRep {
    background-color: #19AD57;
    padding: 7px;
    width: 24vw;
    border-radius: 20px;
    font-size: 1vw;
    z-index: 2;
}

.titRep h1 {
    text-transform: uppercase;
}

.ExpRep {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1px solid #19AD57;
    width: 33vw;
    border-radius: 20px;
    padding: 20px;
    margin-top: -10px;
    z-index: 1;
    text-indent: 20px;
    text-align: justify;
    -webkit-text-stroke: 0.5px black;
}

.saibaMaisRep {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 5;
}

.saibaMaisRep button {
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    padding: 6px;
    color: #31BA45;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 20px;
    margin-top: -13px;
    margin-right: -5vw;
}

.saibaMaisRep a {
    text-decoration: none;
}

.saibaMaisRep img {
    width: 30px;
}

.vantagens {
    background-color: #23C166;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    gap: 50px;
}

.containerVant {
    display: flex;
    gap: 10vw;
}

.vantagensParc {
    display: flex;
    width: 30vw;
    gap: 7px;
}

.vantagensParc hr {
    border: none;
    background-color: #ffffff;
    width: 3px;
    height: 10vh;
}

.vantagensParc h1 {
    font-weight: 600;
    color: #ffffff;
}

.vantagensParc img {
    width: 60px;
}

.contVantagens {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.butVantagens button {
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    padding: 5px;
    color: #31BA45;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 50px;
}
.butVantagens a {
    text-decoration: none;
}
@media only screen and (max-width: 500px) {
    .tituloPl{
        margin-top: 0vh;
    }
    #planos{
        height: 150vh;
    }
    .serv {
        top: 72vh;
    }
    #servicos{
        width: 100%;
        height: 110vh;
        margin-left: 0%
    }
    .nossosServ{
        padding: 0;
        margin-left: -40%;
    }
    #servicos {
        margin-left: -10%
    }
    .box{
        width: 130%;
        padding-right: 0%;
        padding-left: 0;
    }
    .titleTrabalhe{
        margin-top: 30vh;
    }
    .enviarCurriculo{
        margin-left: 43%;
    }
    .dom {
        top: 522vh;
    }
    .dom h1{
        font-size: 10px;
    }
    .domh2{
        font-size: 8px;
    }
    .direitosAutorais{
        font-size: 7px;
    }
}