@media only screen and (max-width: 799px) {
    
    .voltSelo {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    
    .voltSelo button {
        width: 100px;
        font-size: 12px;
    }
    .voltSelo button img {
        width: 30px;
    }
    .contDecRep {
        justify-content: center;
        padding-left: 0;
    }
    .descRepresentante {
        width: 60%;
    }
    
    .titRep {
        width: 24vw;
        font-size: 1.5vw;
        margin-left: -15vw;
    }
    
    .ExpRep {
        width: 50vw;
        margin-top: 30px;
    }
    
    .saibaMaisRep {
        margin-left: -13vw;
    }
    
    .vantagens {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 120vh;
        gap: 50px;
    }
    
    .containerVant {
        gap: 12vh;
        flex-direction: column;
    }
    
    .vantagensParc {
        align-items: center;
        width: 60vw;
        gap: 8px;
    }
    
    .vantagensParc hr {
        width: 3px;
        height: 10vh;
    }
    
    .vantagensParc h1 {
        font-weight: 600;
        font-size: 20px;
    }
    
    .vantagensParc img {
        width: 60px;
        height: 60px;
    }
    
    .contVantagens {
        display: flex;
        flex-direction: column;
        gap: 12vh;
    }
    .butVantagens a {
        text-decoration: none;
    }
    footer {
        padding: 20vh 0vh 10vh 8vw;
    }

    .contFooter {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 20px;
    }

    footer h1 {
        font-size: 15px;
    }

    footer p {
        font-size: 15px;
    }

    footer div {
        display: flex;
        flex-direction: column;
    }

    .atenCont,
    .endRedes {
        flex-direction: column;
        gap: 20px;
        width: 60vw;
    }

    .endRedes {
        gap: 3vh;
        margin-top: 0px;
        width: 50vw;
    }

    .InfContato {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .imagensRedes img {
        width: 20px;
    }

    .contDmApp {
        display: flex;
        flex-direction: column;
        gap: 10vh;
        width: 50vw;
        margin-top: 0px;
    }

    .dom {
        gap: 10px;
        position: absolute;
        top: 225vh;
        right: 40px;
    }

    .dom h1 {
        font-size: 15px;
        color: #EFC11C;
    }

    .dom h2 {
        font-size: 12px;
        font-weight: 600;
    }

    .dom img {
        width: 170px;
    }

    .imgApp {
        display: flex;
        flex-direction: row;
    }

    .imgApp img {
        width: 100px;
    }

    .appStore {
        height: auto;
        margin-top: 7px;
    }

    .Nossosapps hr {
        width: 160px;
    }

    .direitosAutorais {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 12px;
    }

    .direitosAutorais a {
        color: #ffffff;
        padding-right: 80px;
    }
    }
    @media only screen and (max-width: 500px) {
        .ExpRep {
            width: 80vw;
            margin-top: 70px;
            margin-left: -20%;
        }
        .titRep {
            width: 50vw;
            font-size: 2vw;
            margin-left: -15vw;
            margin-top: 20px;
        }
        .seloDS{
            width: 100px;
        }
        .dom h1{
            font-size: 12px;
        }
    }
