* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #00051E;;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(180deg, #141E52 0%, #121630 50%, #00051E 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow: auto;
}

.menu-global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
    background-color: #00051E;
    width: 70%;
    height: 7vh;
    z-index: 990;
    top: 0;
    position: sticky;
}

.menu-toggle {
    display: none;
}

.parceiros {
    background-color: #23C166;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 3vh;
}

.parceirosButton button {
    background-color: #23C166;
    border: none;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    z-index: 999;
    position: absolute;
    top: 4px;
    right: 41vw;
    color: #ffffff;
    cursor: pointer;
}
.parceirosButton button:hover{
    background-color: #028036 ;
}

.menu ul {
    /* 
    display: flex; */
    list-style: none;
}
.menu-links{
    display: flex;
    flex-direction: row;
}

ul li {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.links:hover {
    color: #B3E5FC;
    box-shadow: 0 2px 0 0 currentcolor;
}

.menu {
    display: flex;
    gap: 30px;
    padding-top: 55px;
}

.menu .logo {
    padding-top: 0;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    transition: 0.25s ease;
}

.menu button {
    border: none;
    background-color: #E3AF11;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50px;
    height: 30px;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: -2.5vh;
    cursor: pointer;
}
.suporte:hover{
    background-color: #C78F00;
}
.logo {
    display: flex;
    background-color: #00051E;
    border-radius: 50%;
}

.logo img {
    width: 100px;
    padding: 6px;
}

#inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    gap: 40px;
    height: 90vh;
}

.slogan {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
}

.tec {
    color: #E3AF11;
}

#inicio img {
    width: 60%;
}

.frase {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.cont-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frase p {
    background-color: #03ACF2;
    padding: 25px;
    border-radius: 45px;
    color: #ffffff;
    font-size: 18px;
}

.frase button {
    background-color: #E3AF11;
    color: #ffffff;
    border-radius: 90px;
    padding: 10px;
    width: 160px;
    border: none;
    margin-left: 20vw;
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
}
.frase button:hover{
    background-color: #C78F00;
}
.saberMais {
    font-size: 15px;
    color: #ffffff;
}

.seta img {
    width: 36px;
}

#servicos {
    background-image: url("/Images/telaServicos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
    padding-top: 3vh;
}

.nossosServ {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.conhecaServ {
    color: #ffffff;
}

.conServ {
    color: #E3AF11;
    font-size: 50px;
    text-transform: uppercase;
}

.serv {
    display: flex;
    width: 70vw;
    position: absolute;
    top: 103vh;
    z-index: 900;

}

.serv section {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.serv img {
    width: 60px;
    height: 60px;
}

.serv .PrePago {
    background-image: linear-gradient(180deg, #2994FB 0%, #044B8E 100%);
}

.serv .Certif {
    background-image: linear-gradient(180deg, #2DD473 0%, #028036 100%);
}

.serv .Suport {
    background-image: linear-gradient(180deg, #FBCB1F 0%, #C78F00 100%);
}

.descricaoServicos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35vw;
    margin-right: 90px;
}
.contServ {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 120%;
    flex: 1 1 33%;
    gap: 12px;
    color: #030D44;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-left: -15%;
}
.box .box-item {
    background-color: #ffffff;
    cursor: pointer;
    width: 140px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 60px;
}
.box-item:hover{
    transition: 0.5s;
    box-shadow: 8px 8px 6px rgb(175, 171, 175);
}
#lojaOnline {
    padding-left: 90px;
}

#loja {
    padding-left: 70px;
}

#ordemServ {
    padding-left: 80px;
}

.box-item img {
    height: 85px;
}

.box-item p {
    visibility: hidden;
}

.box .selected {
    order: -1;
    background-color: #ffffff;
    width: 93%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .selected #ordemServ {
    margin-left: -100px;
}

.box .selected p {
    visibility: visible;
}

.vetorAm {
    position: absolute;
    top: 175vh;
    right: 0;
    z-index: 999;
}

#planos {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5vh;
}

.valorPlanos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: -20px;
}

.bronze {
    height: 350px;
}

.bronze:hover,
.prata:hover,
.ouro:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 2s;
}

.prata {
    height: 450px;
}

.ouro {
    height: 550px;
    margin-top: -50px;
}

.tituloPl {
    width: 98%;
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding-left: 12vw;
}

.plOpac {
    font-size: 70px;
    text-transform: uppercase;
    color: #141E52;
    opacity: 15%;
}

.pltit {
    color: #141E52;
    font-size: 30px;
    padding-left: 3vw;
}

.divisoria {
    background-color: #141E52;
    width: 350px;
    height: 15px;
    border-radius: 0 20px 20px 0;
    margin-top: 2vh;
}

.contDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.msgTeste {
    background-color: #19AD57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
    width: 40%;
    /* padding: 3px; */
    border-radius: 20px 20px 0 20px;
    z-index: 900;
}

#contato {
    background-image: linear-gradient(to right, #E3AF11 0, #E3AF11 40%, #030D44 40%, #030D44 60%);
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 23vh;
}

.vetorAzul {
    position: absolute;
    top: 280vh;
    left: 0;
    z-index: 990;
    height: 60vh;
}

.conteudoCont {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titCont {
    font-size: 35px;
    text-transform: uppercase;
    color: #FBCB1F;
    padding-left: 70px;
    font-weight: 600;
}

.LocInf {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding-left: 12vw;
}

.formEmail {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.maps iframe {
    width: 550px;
    height: 400px;
    border-radius: 12px;
}

.conteudoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10vh;
}

.inf {
    display: flex;
    flex-direction: column;
    width: 27%;
    gap: 50px;
}

.inf h2 {
    color: #FBCB1F;
    font-size: 16px;
    text-decoration: underline;
}

.inf p {
    color: #ffffff;
}

.tel,
.end,
.email {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #FBCB1F;
    width: 50%;
    padding: 20px;
    border-radius: 25px 25px 0 25px;
    gap: 15px;
    justify-content: end;
}

.formulario h1 {
    font-size: 30px;
    color: #030D44;
}

.contForm {
    display: flex;
    flex-direction: column;
    width: 99.5%;
    gap: 10px;

}

.contForm input {
    height: 5vh;
    border: none;
    padding-left: 2%;
    font-weight: 600;

}

.message {
    height: 10%;
    border: none;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    height: 90px;
    font-weight: 600;
}

.contForm button {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #028036;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contForm button img {
    width: 110%;
}

.amareloButton {
    background-color: #FBCB1F;
    border-radius: 50%;
    padding: 6px;
}

.containerButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: -7vh;
    margin-left: 10px;
}

#trabalheConosco {
    background-color: #F0EFEF;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleTrabalhe {
    background-color: #E3AF11;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 27vh;
    width: 100%;
    margin-top: 39vh;
    padding-top: 12.5px;
}

.tittleAzul {
    background-color: #141E52;
    width: 85.5%;
    height: 21vh;
    margin-top: -2vh;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.tittleSub {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tittleSub h1 {
    color: #FBCB1F;
    font-size: 35px;
    font-weight: 600;
}

.tittleSub h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.formTrabalhe {
    width: 70%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #4E4E4E;
    border-radius: 0 0 20px 20px;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.contTittleTrab h1 {
    font-size: 25px;
    color: #141E52;
}

.contTittleTrab p {
    font-size: 13px;
    font-weight: 800;
}

.contTittleTrab hr {
    width: 40%;
    height: 2px;
    border: none;
    background-color: #141E52;
}

.contTittleTrab {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.formularioTrabalhe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.formularioTrabalhe label {
    font-weight: 700;
    color: #4E4E4E;
    font-size: 13px;
}

.formularioTrabalhe input {
    border: none;
    box-shadow: 1px 1px 4px #4E4E4E;
    width: 40vw;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    transform: border-color 0.3s, box-shadow 0.3s;
}

.formularioTrabalhe input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    outline: none;
    border-color: #4E4E4E;
    box-shadow: 2px 2px 4px #4E4E4E;
}

.telCargo input {
    width: 15.6vw;
}

.telCargo select {
    width: 15.6vw;
    border: none;
    box-shadow: 1px 1px 4px #4E4E4E;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.telCargo {
    margin-left: -15px;
}

.git {
    margin-left: -6px;
}

.linkedln {
    margin-left: -16px;
}

.textTrabalhe {
    border: none;
    padding: 2%;
    resize: none;
    font-weight: 600;
    box-shadow: 1px 1px 4px #4E4E4E;
    width: 40vw;
    height: 10vh;
}

.textareaTrabalhe {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    margin-left: -35px;
}

.pdf {
    visibility: hidden;
}

.pdf img {
    width: 25px;
}

.botaoAnexo {
    width: 100%;
    display: flex;
    padding-left: 3.5vw;
}

.botaoAnexo label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vh 2vw 0.5vh 1vw;
    font-size: 12px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-right: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 1px solid #524D4D;
    color: #000000;
    cursor: pointer;
}

.enviarCurriculo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.enviarCurriculo button {
    background-color: #EFC11C;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    font-size: 13px;
    color: #141E52;
    font-weight: 900;
    padding: 5px;
    gap: 10px;
    margin-right: -5vw;
    margin-top: -8px;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
}

.enviarCurriculo button img {
    width: 22px;
}

footer {
    padding: 9vh 1vh 3vh 12vw;
    width: 100%;
    background-color: #010118;
    color: #ffffff;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -20px;
}

.contFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

footer h1 {
    font-size: 20px;
    font-weight: 600;
}

footer p {
    font-size: 13px;
}

footer div {
    display: flex;
    flex-direction: column;
}

.atenCont,
.endRedes {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 20vw;
}

.endRedes {
    gap: 10vh;
    margin-top: -25px;
    width: 15vw;
}

.endRedes hr {
    width: 75px;
}

.contato {
    display: flex;
    gap: 5px;
}

.contato hr {
    width: 75px;
}

.imgContato img {
    width: 20px;
}

.img-Contato {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.InfContato {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.atendimento,
.endereco,
.siga,
.Nossosapps {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

footer hr {
    background-color: #E3AF11;
    width: 100px;
    border: none;
    height: 2px;
}

.imagensRedes {
    display: flex;
    flex-direction: row;
}

.imagensRedes img {
    width: 30px;
}

.contDmApp {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    width: 50vw;
    margin-top: -30px;
}

.dom {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    gap: 10px;
    align-items: center;

}

.dom h1 {
    font-size: 15px;
    color: #EFC11C;
}

.dom h2 {
    font-size: 15px;
    font-weight: 600;
}

.dom hr {
    height: 60px;
    width: 2px;
    background-color: #ffffff;
}

.dom img {
    width: 250px;
}

.cnpj {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.imgApp {
    display: flex;
    flex-direction: row;
}

.imgApp img {
    width: 150px;
}

.appStore {
    height: 7vh;
    margin-top: 7px;
}

.Nossosapps hr {
    width: 160px;
}

.direitosAutorais {
    text-transform: uppercase;
    color: #ffffff;
}

.direitosAutorais a {
    color: #ffffff;
    padding-right: 160px;
}

/* CSS DO SEJA REPRESENTANTE */
#sejaRepresentante {
    width: 100%;
}

.inic {
    background-image: url(/Images/Fundo.png);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.voltSelo {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.voltSelo button {
    background-color: #121837;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    gap: 1px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.voltSelo button img {
    width: 40px;
}

.voltSelo a {
    text-decoration: none;
}

.contDecRep {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 10vw;
}

.descRepresentante {
    color: #ffffff;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.titRep {
    background-color: #19AD57;
    padding: 7px;
    width: 24vw;
    border-radius: 20px;
    font-size: 1vw;
    z-index: 2;
}

.titRep h1 {
    text-transform: uppercase;
}

.ExpRep {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1px solid #19AD57;
    width: 33vw;
    border-radius: 20px;
    padding: 20px;
    margin-top: -10px;
    z-index: 1;
    text-indent: 20px;
    text-align: justify;
    -webkit-text-stroke: 0.5px black;
}

.saibaMaisRep {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 5;
}

.saibaMaisRep button {
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    padding: 6px;
    color: #31BA45;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 20px;
    margin-top: -13px;
    margin-right: -5vw;
}

.saibaMaisRep a {
    text-decoration: none;
}

.saibaMaisRep img {
    width: 30px;
}

.vantagens {
    background-color: #23C166;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    gap: 50px;
}

.containerVant {
    display: flex;
    gap: 10vw;
}

.vantagensParc {
    display: flex;
    width: 30vw;
    gap: 7px;
}

.vantagensParc hr {
    border: none;
    background-color: #ffffff;
    width: 3px;
    height: 10vh;
}

.vantagensParc h1 {
    font-weight: 600;
    color: #ffffff;
}

.vantagensParc img {
    width: 60px;
}

.contVantagens {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.butVantagens button {
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    padding: 5px;
    color: #31BA45;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 50px;
}

.butVantagens a {
    text-decoration: none;
}

/* CSS FAQ */
#FAQ {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #060F3E;
    height: 100vh;
    width: 100%;
}

.voltarFaq {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.voltarFaq a {
    text-decoration: none;
}

.voltarFaq button {
    background-color: #121837;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    gap: 1px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.ContTituloFaq {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.TiraAmarela {
    height: 10vh;
    width: 10vw;
    background-color: #EFC11C;
}

.TituloFaq {
    font-size: 10vh;
    color: #EFC11C;
}

.perg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.perg h1 {
    font-size: 5vh;
    color: #EFC11C;
    padding-right: 30px;
}

.perguntas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contPerg {
    display: flex;
    gap: 10%;
}

.tipoPerg {
    width: 20vw;
    background-color: #040B33;
    color: #ffffff;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tipoPerg h1 {
    color: #ffffff;
    font-weight: 200;
    font-size: 17px;
    text-align: start;
    padding-left: 5%;
}

.tipoPerg hr {
    border: none;
    background-color: #ffffff;
    width: 19.9vw;
    height: 1px;
}

.tipoPerg:hover h1:hover {
    background-color: #EFC11C;
    width: 100%;
    text-align: start;
    color: #000000;
    transition: 0.5s;
    height: 20px;
    cursor: pointer;
}

.PerguntasTipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.PergClicaveis {
    background-color: #040B33;
    color: #ffffff;
    padding: 5px;
}

.resposta {
    display: none;
}

.PergClicaveis:hover {
    background-color: #EFC11C;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
}